
<section class="login">

  <h1>Bem vindo(a) ao <img src="./assets/medtimeLogin.png" alt="Medtime"></h1>


  <form #form="ngForm" novalidate (ngSubmit)="onLogin(form.value, form.valid, form)">

      <span class="description">Acesse usando sua conta Medtime</span>

      <div class="itens-input">
        <input type="text" 
          class="form-control"
          name="email"
          placeholder="* Email"
          [ngModel]="input.email"
          required
          #loginName="ngModel">
        </div>
        
        <div class="itens-input">
          <input type="password" 
          class="form-control"
          name="password"
          placeholder="* Senha"
          required
          [ngModel]="input.password"
          #password="ngModel">
      </div>
      
      <div class="button-content">
        <button class="submit" type="submit" name="submit">Entrar</button>
      </div>

      <div class="itens-input error">
        <small class="text-danger"
          [hidden]="(loginName.valid && password.valid) || ((password.pristine || loginName.pristine) && !form.submitted)"
          >E-mail ou senha incorreto. Tente novamente</small>
      </div>

    </form>
  
</section>