.admin {
	display: flex;
	height: 100vh;
	
	.menu {
		width: 20%;
		background-color: #3ea3db;
		display: flex;
		flex-direction: column;
		align-items: center;

		.logo {
			width: 100%;
			text-align: center;
			border-bottom: 1px solid #70b1d6;

			img {
				padding: 20px;
			}
		}

		ul {
			width: 100%;
			padding: 0;
			list-style: none;
			text-transform: uppercase;
			text-align: center;

			li {
				padding: 20px;
				a {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}

	.content {
		width: 80%;
		display: flex;
		flex-direction: column;

		.header {
			width: 100%;
			height: 84px;
			border-bottom: 1px solid #3ea3db;
			
			span {
				float: right;
				padding: 30px;
			}
		}

		.body {
			padding: 10px 30px;
			color: #555;
		}
	}
}