.admin {
	display: flex;
	height: 100vh;
	
	.menu {
		width: 20%;
		background-color: #3ea3db;
		display: flex;
		flex-direction: column;
		align-items: center;

		.logo {
			width: 100%;
			text-align: center;
			border-bottom: 1px solid #70b1d6;

			img {
				padding: 20px;
			}
		}

		ul {
			width: 100%;
			padding: 0;
			list-style: none;
			text-transform: uppercase;
			text-align: center;

			li {
				padding: 20px;
				transition: all 100ms ease-in-out;

				a {
					text-decoration: none;
					color: #fff;

					&.active {
						text-shadow: 2px 3px #607D8B;
						position: relative;
						width: 100%;

						&::after {
							content: "";
							position: fixed;
							left: 20%;
							height: 0;
							border-style: solid;
							border-width: 10px 0 10px 10px;
							border-color: transparent transparent transparent #3ea3db;
						}
					}	
				}

				&:hover {
					background-color: #6cafd5;
					box-shadow: inset 0px -2px 8px #607D8B;
					transition: all 100ms ease-in-out;
				}
			}
		}
	}

	.content {
		width: 80%;
		display: flex;
		flex-direction: column;

		.header {
			width: 100%;
			height: 84px;
			border-bottom: 1px solid #3ea3db;
			
			span {
				float: right;
				padding: 30px;
			}
		}

		.body {
			padding: 10px 30px;
			color: #555;
		}
	}
}