<div class="admin">
  
  <section class="menu">
    <div class="logo">
      <img src="../assets/medtime-white.png" alt="Medtime">
    </div>
    <ul>
      <li>
        <a routerLink="./">Dashboard</a>
      </li>
      <li>
        <a routerLink="./doctor">Médicos</a>
      </li>
      <li>
        <a routerLink="./my-account">Minha conta</a>
      </li>
      <li>
        <a routerLink="/" (click)="logout()">Sair</a>
      </li>
    </ul>
  </section>

  <section class="content">
    <div class="header">
      <span>Olá {{ user.name }}</span>
    </div>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </section>
  
</div>