html,
body {
	height: 100%;
}

body {
    background-color: $s-color;
    margin: 0 auto;
	min-height: 100%;
	font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.text-danger {
	color: $o-color;
}

.text-center {
	text-align: center;
}

section .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.btn {
    border: 1px solid #9E9E9E;
    padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 200ms ease;
	margin: 5px;
	
	&:hover {
		background-color: #9E9E9E;
		color: #fff;
		transition: all 200ms ease;
	}

	&.btn-blue {
		border-color: #3ea3db;
		background-color: #3ea3db;
		color: #fff;

		&:hover {
			color: #3ea3db;
			background-color: #fff;
		}
	}

	&.btn-red {
		border-color: #f44336;
		background-color: #f44336;
		color: #fff;

		&:hover {
			color: #f44336;
			background-color: #fff;
		}
	}

	&.btn-green {
		border-color: #4caf50;
		background-color: #4caf50;
		color: #fff;

		&:hover {
			color: #4caf50;
			background-color: #fff;
		}
	}

	&.btn-yellow {
		border-color: #ffeb3b;
		background-color: #ffeb3b;
		color: #000;

		&:hover {
			color: #ffeb3b;
			background-color: #fff;
		}
	}

	&.btn-link {
		color: #607D8B;
    	border: 0;

		&:hover {
			background-color: #fff;
			color: #000;
		}
	}
}

input, select {
	font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	border: 0;
	font-size: 16px;
	border-color: #9E9E9E;
	border-bottom-width: 2px;
	border-style: solid;
	height: 40px;
	padding: 0;
	width: 90%;
	background-color: #fff;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	
	&:focus {
		outline: none;
		border-color: #6cafd5;
	}
}

.table-content {
	width: 100%;

	.table {

		.row {
			height: 60px;
			border-color: #6cafd5;
			border-style: solid;
			border-bottom-width: 1px;
			border-left-width: 1px;
			border-right-width: 1px;
			border-top-width: 0;
	
			&.header {
				background-color: #6dafd4;
				color: #fff;
			}
	
			.cell {
				width: 100%;
				display: flex;
				justify-content: space-around;

				&.icon {
					width: 12em;
				}
			}
	
			&:first-child {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			&:last-child {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
}

form {
	border: 1px solid #9E9E9E;
	border-radius: 10px;
	
	.form-input-inline {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 10px 20px;
		position: relative;

		input {
			width: 70%;
			margin: 0 40px;
		}

		.error-message {
			position: absolute;
			left: 300px;
			bottom: -10px;
		}
	}

	.form-footer {
		border-top: 1px solid #9E9E9E;
		text-align: end;
		padding: 5px 20px;
		margin-top: 20px;
	}
}